<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>balamani sandeep linga</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
	body{
		background-image:url("http://livehdwallpaper.com/wp-content/uploads/2016/08/Great-White-Shark-Wallpapers-HD-images.jpg"); 
	}
	form{
		text-align:center;
		font-size: 20px;}
	ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    font-family: Algerian;
    overflow: hidden;
    background-color: skyblue;
    overflow: auto;
}
		li {
    float: left;
}
li a{
    display: block;
    text-align:center;
    color:balck;
    padding: 10px;
    text-decoration: none;
}
li a:hover{
	background-color:blue;

}
	</style>
</head>
<body>
			<ul>
				<li><a href="#">SANDEEP</a></li>
				<li><a href="home.html">Home</a></li>
				<li><a href="products.html">Products</a></li>
				<li><a href="contact.html">Contact</a></li>
				<li><a href="guestbook">Guestbook</a></li>

			</ul>

<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>